body {
  margin: 0;
  font-family: 'Lexend Mega', sans-serif;
  color: black;
  background-color: white;
  font-size: 16px;
  text-align: center;
}

a {
  color: black;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: white;
  width: 100%;
  height: 850px;
  background-image: url(https://images.pexels.com/photos/2516860/pexels-photo-2516860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: antiquewhite 30px solid;
}

.header h1 {
  padding: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  padding-right: 15px;
}

.navbar p {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.navbar a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.main {
  padding-top: 35px;
  display: flex;
}

#stay {
  display: flex;
  /* background-image: url(""); */
  padding-top: 35px;
}

#stay .content {
  margin: auto;
  background-color: white;
  width: 100%;
}

.searchbar {
  position: relative;
}

.search {
  height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-right: 5px;
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: 0;
  background-color: #fdfdfd;
}

.search:hover,
.search:focus {
  border: 1.5px solid #020f2c;
  background-color: white;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location img {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  padding: 20px;
  height: auto;
}

.location span {
  padding: 5px;
  min-width: 240px;
  font-weight: bold;
  text-align: center;
}

.renterperks {
  /* background-image: url(''); */
  padding-top: 10px;
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#rent {
  min-height: 500;
  margin: auto;
  padding-top: 35px;
}

#rent h2 {
  padding-left: 50px;
}

.renterperkssub {
  padding: 5px;
  color: black;
  flex-basis: 280px;
}

.renterperkssub img {
  margin: 5px;
  width: auto;
  max-width: 400px;
  height: 300px;
  border-radius: 3%;
}

.contact,
.copyright {
  text-align: left;
  margin-left: 30px;
}

footer {
  background-color: lightgray;
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contact h2 {
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}
